:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#title {
  font-size: large;
  text-align: center;
  margin: 0;
}

#main-container{
  height: 100vh;
  width: 100vw;
}

#bubble-focus{
  position: absolute;
  transform: translate(2rem, -5rem);
  font-size: 3rem;
}

.chart-container{
  height: 100%;
}

.bubbles {
  stroke: none;
}

.bubbles:hover {
  stroke: black;
}

.date-selected {
  fill: rgba(255, 240, 150, 0.5);
}

.date-selected:hover {
  fill: rgba(255, 250, 200, 0.5);
}

.date-unselected {
  fill: rgba(255, 255, 255, 0);
}

.date-unselected:hover {
  fill: rgba(240, 240, 225, 0.5);
}